* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

#root { 
    flex-direction: column;
    gap: 5vh;
    padding-bottom: 5vh;
    background-color: rgb(94, 11, 11);
} 

.titulo {
    font-family: "Nata Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

.btn{
    font-family: "Nata Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: rgb(46, 46, 46);
    
}

input {
    border-style: solid;
    border-color:rgb(114, 113, 113);
    border-radius: 13px;
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color:rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
}



.btn-primary {
    background-color: rgb(250, 136, 30);
    border: none;
    border-radius: 15px;
}

.btn-account{
    background-color: rgb(250, 136, 30);
    border: none;
    border-radius: 15px;
}


.hero-frame{
    overflow: hidden; /*impede que a imagem vaze do quadro*/
}

.hero img {
    /*aplica prorpiedade cover para que a imagem preencha o quadro*/
    object-fit: cover;
    object-position: center; 
    height: 70vh;
}

/*responsividade media-query*/
@media (max-width:576px){
    .hero img {
        height: 50vh;
    }
}

.card-container img {
    object-fit: cover;
    object-position: center; 
    height: 20vh;
}


.groupCards {
    display: flex;
    justify-content: center;
    gap: 8vh;
}


.dateSelector {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 10px;              
    flex-direction: row;
    width: 100%;            
    padding: 10px;          
    margin-bottom: 10px;
}

